<% if @vehicle %>
<h1><%= @vin %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h6>Make</h6>
      <%= @vehicle.make %>
    </div>
    <div class="col-md-4">
      <h6>Model</h6>
      <%= @vehicle.model %>
    </div>
    <div class="col-md-4">
      <h6>Year</h6>
      <%= @vehicle.year %>
    </div>
    <% if @vehicle.trim %>
    <div class="col-md-4">
      <h6>Trim</h6>
      <%= @vehicle.trim %>
    </div>
    <% end %>
    <div class="col-md-4">
      <h6>Transmission Type</h6>
      <%= @vehicle.transmission_type %>
    </div>
    <div class="col-md-4">
      <h6>Engine Type</h6>
      <%= @vehicle.engine_type %>
    </div>
    <div class="col-md-4">
      <h6>Engine Cylinders</h6>
      <%= @vehicle.engine_cylinders %>
    </div>
    <div class="col-md-4">
      <h6>Engine Size</h6>
      <%= @vehicle.engine_size %>
    </div>
  </div>
</div>
<% else %>
<p>We were unable to decode that VIN. Please try again later, or contact the administrator</p>
<% end %>
